<div class="homepage">

  <!-- Hero Section -->


  <section  class="hero-section">
    <h1>Welcome to Smart Farming</h1>
    <h2>Revolutionizing Agriculture with Smart Farming</h2>
    <p>Monitor, Analyze, and Manage your Farms with Real-time Data</p>
  </section>
  

  <section class="advanced-features">
    <h2>Explore Advanced Technologies</h2>
    <p class="features-intro">Our system provides the most advanced technologies to help monitor and optimize your farming activities.</p>
    <div class="feature-grid">
      <!-- Feature items -->
      <div class="feature-item">
        <fa-icon [icon]="['fas', 'tint']"></fa-icon>
        <h3>Humidity Control</h3>
        <p>Track and maintain optimal humidity levels for healthy crop growth.</p>
      </div>
      <div class="feature-item">
        <fa-icon [icon]="['fas', 'thermometer-half']"></fa-icon>
        <h3>Temperature Monitoring</h3>
        <p>Monitor temperature fluctuations to ensure ideal growing conditions.</p>
      </div>
      <div class="feature-item">
        <fa-icon [icon]="['fas', 'water']"></fa-icon>
        <h3>Soil Moisture Monitoring</h3>
        <p>Accurately measure soil moisture levels and automate irrigation.</p>
      </div>
      <div class="feature-item">
        <fa-icon [icon]="['fas', 'camera']"></fa-icon>
        <h3>Image-based Crop Detection</h3>
        <p>Analyze crops through AI-powered image recognition technology.</p>
      </div>
      <!-- <div class="feature-item">
        <fa-icon [icon]="['fas', 'brain']"></fa-icon>
        <h3>AI Disease Prediction</h3>
        <p>Leverage machine learning to predict crop diseases early on.</p>
      </div> -->
      <div class="feature-item">
        <fa-icon [icon]="['fas', 'seedling']"></fa-icon>
        <h3>Irrigation Automation</h3>
        <p>Efficiently automate irrigation schedules based on real-time data.</p>
      </div>
      <div class="feature-item">
        <fa-icon [icon]="['fas', 'chart-line']"></fa-icon>
        <h3>Real-Time Analytics</h3>
        <p>Access real-time data and actionable insights for better decisions.</p>
      </div>
    </div>
</section>


</div>
