<header class="header">
  <div class="container">
    <a class="logo" 
    ><img  class="logofarm" src="../../assets/farmLogo.png" alt="img"/> Smart Farming</a>
    <nav class="nav">
      <a class="nav-link"  *ngIf="!hardcodedAuthenticationService.isUserLoggedin()"  [routerLink]="['/login-user']"><fa-icon [icon]="faUser"></fa-icon> User Login</a>
      <a class="nav-link" *ngIf="!hardcodedAuthenticationService.isUserLoggedin()" [routerLink]="['/login-admin']"><fa-icon [icon]="faSignInAlt"></fa-icon> Admin Login</a>
      <a *ngIf="hardcodedAuthenticationService.isUserLoggedin()" [routerLink]="['/logout']" class="nav-link"><fa-icon [icon]="faSignOutAlt"></fa-icon> Logout</a>
      <div class="user">
      <div *ngIf="hardcodedAuthenticationService.isUserLoggedin()" class="user-name">
       User Name</div>
        <div *ngIf="hardcodedAuthenticationService.isUserLoggedin()" class="user-image">UN</div>
      </div>
    </nav>
  </div>
</header>
