<!-- <app-header></app-header> -->
<div class="login-container">
  <h2>User Login</h2>
  <div class="input-data">
    <input id="username" type="text" [(ngModel)]="username" required />
    <label for="username">User Name</label>
  </div>
  <div class="input-data">
    <input id="userPassword" type="password" [(ngModel)]="password" required />
    <label for="userPassword">User Password</label>
  </div>
  <button (click)="handleLogin()" class="submit-btn">
    <span class="input-data">
     LOGIN
    </span>
  </button>
  <p>
    Don't have an account? <a routerLink="/register-user">Register</a>
  </p>
</div>
<app-footer></app-footer>
