
.dashboard-container {
  display: flex;
  flex: 1; 
  height: 100vh; 
}


.dashboard-navbar {
  background-color: #96be25;
  color: #FFFFFF; 
  width: 250px; 
  padding-top: 60px; 
  height: 100vh; 
  overflow-y: auto; 
}


.main-content {
  flex: 1; 
  background-color: #F5F5F5; 
  transition: margin-left 0.3s;
 
}

.footer {
 
  width: 100%; 
  flex-shrink: 0;
}
