@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.register-container {
  width: 500px;
  margin: 100px auto;
  padding: 40px 40px;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.register-container h2 {
  color: transparent;
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
  background: -webkit-linear-gradient(right, #96be25, #85a91c, #37414b, #96be25);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 600;
}

.register-container .input-data {
  position: relative;
  margin-bottom: 30px;
}

.register-container input[type="text"],
.register-container input[type="email"],
.register-container input[type="password"] {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease;
  color: #37414b;
}

.register-container input[type="text"]:focus,
.register-container input[type="email"]:focus,
.register-container input[type="password"]:focus {
  border-color: #96be25;
}

.register-container input[type="text"]:valid ~ label,
.register-container input[type="email"]:valid ~ label,
.register-container input[type="password"]:valid ~ label {
  transform: translateY(-20px);
  font-size: 14px;
  color: #96be25;
}

.register-container label {
  position: absolute;
  left: 15px;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
  pointer-events: none;
  color: #37414b;
}

/* Button Styles */
.register-container button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(to right, #85a91c, #37414b);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  position: relative;
  overflow: hidden;
  transition: 0.4s;
  color: #FFFFFF;
}

.register-container button:hover {
  opacity: 0.8;
}

.register-container button:active {
  opacity: 0.7;
}

/* Link styling */
.register-container a {
  color: #96be25;
  text-decoration: none;
  transition: color 0.3s ease;
}

.register-container a:hover {
  color: #85a91c;
}

.register-container p {
  text-align: center;
  margin-top: 20px;
  color: #37414b;
}
