<div class="container">
  <nav class="sidenav">
    <a routerLink="/home"><fa-icon [icon]="faHome"></fa-icon> Home</a>
    <a routerLink="/account"><fa-icon [icon]="faUser"></fa-icon> Account</a>
    <a routerLink="/farms"><fa-icon [icon]="faTractor"></fa-icon> Farms</a>
    <a routerLink="/crop-health"><fa-icon [icon]="faSeedling"></fa-icon> Crop Health</a>
    <a routerLink="/settings"><fa-icon [icon]="faCog"></fa-icon> Settings</a>
    <a routerLink="/logout"><fa-icon [icon]="faSignOutAlt"></fa-icon> Logout</a>
  </nav>
</div>
