
.container {
  display: flex;
  height: 100vh;
  width: 100%;
}


.sidenav {
  width: 250px;
  background-color: #96be25; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  
}


.sidenav a {
  color: white; 
  text-decoration: none;
  font-size: 18px;
  padding: 15px 10px;
  display: block;
  margin-bottom: 10px;
  border-radius: 4px;
  transition: background 0.3s ease, color 0.3s ease;
}


.sidenav a:hover {
  background-color: #85a91c; 
  color: #FFFFFF;
}


.sidenav a:focus, .sidenav a.active {
  background-color: #37414b; 
  color: #FFFFFF;
}
