
<div class="dashboard-container">

  <div class="dashboard-content">
    
    
    <div class="main-content">
      <div class="container">
        <section class="disease-detection">
          
          <div class="upload-area">
            <h2>Disease Detection</h2><br/><br/>
            <h3>Upload Crop Image</h3>
            
            <label for="fileUpload" class="sr-only">Upload Crop Image</label>
            <input id="fileUpload" type="file" (change)="onFileChange($event)" accept="image/*" aria-label="Upload Crop Image" /><br/><br/>
            <button (click)="analyzeImage()" class="btn">Analyze</button>
          </div>
          <div class="image-container">
            <img src="assets/Design.png" alt="img"  class="image">
          </div><br/>
        </section>

        <section class="disease-recommendations" *ngIf="recommendations">
          <div class="results-area" *ngIf="analysisResults">
            <h3>Analysis Results</h3>
            <p>Detected Diseases:q</p>
            <ul>
              <li *ngFor="let disease of analysisResults.diseases">
                {{ disease.name }} - Severity: {{ disease.severity }}
              </li>
            </ul>
          </div>
          <h2>Treatment Recommendations</h2>
          
          <div class="recommendations-list">
            <h3>Recommended Actions</h3>
            <ul>
              <li *ngFor="let recommendation of recommendations">
                <h4>{{ recommendation.disease }}</h4>
                <p><strong>Organic Treatments:</strong> {{ recommendation.organic }}</p>
                <p><strong>Chemical Treatments:</strong> {{ recommendation.chemical }}</p>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
